/* Geral */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9f9fff;
    padding: 1.5rem;    
    align-items: center;
    gap: 2rem;
    border-bottom: 0.2rem solid #fff;
}

header img {
    width: 4.5rem;
    border-radius: 50%;
    background: #fff;
    padding: 0.5rem;
}

.navegacao {
    display: flex;
}

.links-nav {
    display: flex;
    list-style: none;
    gap: 1.7rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.links-nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.banner {
    background-image: url("../img/banner.png"); /* Sai da pasta do CSS e vai para a pasta img */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 3rem;
    color: white;
    font-family: Helvetica Neue;
}

.banner h2 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
}

.banner p {
    font-size: 1.3rem;
    max-width: 25rem;
}

.introducao {
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #9f9fff;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}

.rodape {
    background-color: #9f9fff;
    padding: 1.5rem;
    text-align: center;
    line-height: 1.7;
    font-size: 0.8rem;
    font-family: 'Playfair Display', serif;
}

/* Produtos, Serviços e Ínicio */

.produtos {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    color: #9f9fff;
    line-height: 1.7;
    font-weight: 540;
}

.produtos li {
    list-style: none;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.produtos p {
    font-size: 1rem;
    color: #5f5d5d;
}

.produtos img {
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.div-servicos{
    display: flex;
    gap: 6rem;
}

.div-servicos p{
    max-width: 22rem;
}

table {
    width: 60%;
    margin-left: 1rem;
}

th {
    background-color: #9f9fff;
    color: white;
    padding: 0.5rem;
}

td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #9f9fff;
}

/* Contato */

.divisaoformulario {
    border: 0.4rem solid #9f9fff;      
    border-radius: 1rem;         
    margin-left: 1.5rem;              
    max-width: 35rem;          
    background-color: #ffffff;   
}

.formulario {
    padding: 1.5rem;
}

.formulario label, .form-group label, .label-block {
    font-weight: 550;
    color: #9f9fff;
    
}

.formulario input, .formulario select, .formulario textarea, .form-group select {
    padding: 1rem;
    border: 0.1rem solid #5f5d5d;
    border-radius: 0.2rem;
    font-family: Helvetica Neue;
    font-size: 1rem;
}

.subtitulo-formulario{
    color: #9f9fff;
}

.botao {
    background: #9b99ea;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
}